<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{company?.company_name}}</h5>
    <p class="card-text">Frase de efeito: {{company?.catchPhrase}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Sobre: {{company?.about}}</li>
    <li class="list-group-item">Proprietário: {{company?.owner}}</li>
  </ul>
  <div class="card-body">
    <button (click)="goBack()">Voltar</button>
    <button (click)="goBack()">Candidatar-se</button>
  </div>
</div>
