<!--<h2>Jobs</h2>-->
<!--<ul class="advertisementJobs">-->
<!--  <li *ngFor="let advertisementJob of advertisementJobsResponse.results">-->
<!--    <a routerLink="jobs/detail/{{advertisementJob.pk}}" routerLinkActive="active">-->
<!--      <span class="badge">{{advertisementJob.pk}}</span> {{advertisementJob.title}}-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<a class="navbar-brand" routerLink="" routerLinkActive="active" (click)='goHome()'>Home</a>
<div class="container">
  <router-outlet></router-outlet>
</div>


