<div *ngIf="!show">
  <button class="btn btn-sm" (click)="showForm()">Editar</button>
</div>
<div *ngIf="show" class="row">
  <form [formGroup]="editAdvertisementJob" (ngSubmit)="updateJob(editAdvertisementJob.value)" novalidate>
    <div class="row">
      <h2>Editar anúncio</h2>
    </div>
    <div class="row">
      <label>
        <input type="text" class="form-control" formControlName="title" value="{{advertisementJob?.title}}"
               placeholder="Titulo"/>
      </label>
      <small [hidden]="editAdvertisementJob.get('title')?.valid" class="text-danger">
        *
      </small>
    </div>
    <div class="row">
      <label>
        <input type="text" class="form-control" formControlName="description" value="{{advertisementJob?.description}}"
               placeholder="Descrição"/>
      </label>
      <small [hidden]="editAdvertisementJob.get('description')?.valid" class="text-danger">
        *
      </small>
    </div>
    <div class="row">
      <label>
        <input type="text" class="form-control" formControlName="requirements" value="{{advertisementJob?.requirements}}"
               placeholder="Requisitos"/>
      </label>
      <small [hidden]="editAdvertisementJob.get('requirements')?.valid" class="text-danger">
        *
      </small>
    </div>
    <div class="row">
      <label>
        <input type="text" class="form-control" formControlName="desirable" value="{{advertisementJob?.desirable}}"
               placeholder="Requisitos desejáveis"/>
      </label>
      <small [hidden]="editAdvertisementJob.get('desirable')?.valid" class="text-danger">
        *
      </small>
    </div>
    <div class="row">
      <label>
        <input type="text" class="form-control" formControlName="payment" value="{{advertisementJob?.payment}}"
               placeholder="Salário"/>
      </label>
      <small [hidden]="editAdvertisementJob.get('payment')?.valid" class="text-danger">
        *
      </small>
    </div>
    <div class="row">
      <label>
        <input type="text" class="form-control" formControlName="company" value="{{advertisementJob?.company}}"
               placeholder="Empresa"/>
      </label>
      <small [hidden]="editAdvertisementJob.get('company')?.valid" class="text-danger">
        *
      </small>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="!editAdvertisementJob.valid" title="Entrar">
        Salvar
      </button>
      <button class="btn btn-sm btn-outline-danger" title="Registrar" (click)="showForm()">
        Cancelar
      </button>
    </div>
  </form>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{advertisementJob?.title}}</h5>
      <p class="card-text">{{advertisementJob?.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Requisitos: {{advertisementJob?.requirements}}</li>
      <li class="list-group-item">Requisitos desejáveis: {{advertisementJob?.desirable}}</li>
      <li class="list-group-item">Empresa: {{advertisementJob?.company}}</li>
    </ul>
    <div class="card-body">
      <button (click)="goBack()">Voltar</button>
      <button (click)="goBack()">Candidatar-se</button>
      <button (click)="delete()">Excluir</button>
    </div>
</div>
