<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{advertisementJob?.title}}</h5>
    <p class="card-text">{{advertisementJob?.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{advertisementJob?.requirements}}</li>
    <li class="list-group-item">{{advertisementJob?.desirable}}</li>
    <li class="list-group-item">{{advertisementJob?.company}}</li>
  </ul>
  <div class="card-body">
    <button (click)="goBack()">Voltar</button>
    <button (click)="goBack()">Candidatar-se</button>
  </div>
</div>
