<div class="col">
  <div class="row">
    <div class="container">
      <div *ngIf="!register">
        <div class="col-6">
          <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.value)" novalidate>
            <div class="row">
              <h2>Entrar</h2>
            </div>
            <div class="row">
              <label>
                <input type="text" class="form-control" formControlName="username" placeholder="E-mail"/>
              </label>
              <small [hidden]="loginForm.get('username').valid" class="text-danger">
                *
              </small>
            </div>
            <div class="row">
              <label>
                <input type="password" class="form-control" formControlName="password" placeholder="Senha"/>
              </label>
              <small [hidden]="loginForm.get('password')?.valid" class="text-danger">
                *
              </small>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="!loginForm.valid" title="Entrar">
                Entrar
              </button>
              <button class="btn btn-sm btn-light" title="Registrar" (click)="changeLoginOrReg()">
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="register">
    <div class="row">
      <div class="container">
        <div class="col-md-4 col-sm-12">
          <h2>Registro</h2>
          <div class="row">
            <button class="btn btn-sm btn-primary" (click)="changeText()">{{text}}</button>
            <button class="btn btn-sm btn-light" title="irParaLogin" (click)="changeLoginOrReg()">Ir para o Login</button>
          </div>
          <div *ngIf="employer">
            <p>Encontre aqui o profissional que você precisa!</p>
            <form [formGroup]="registerEmployerForm" (ngSubmit)="employerRegister(registerEmployerForm.value)" novalidate>
              <div class="row">
                <h2>Cadastre-se</h2>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Usuário"/>
                </label>
                <small [hidden]="registerEmployerForm.get('username').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="email" placeholder="E-mail"/>
                </label>
                <small [hidden]="registerEmployerForm.get('email').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Senha"/>
                </label>
                <small [hidden]="registerEmployerForm.get('password').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="Nome"/>
                </label>
                <small [hidden]="registerEmployerForm.get('firstName').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Sobrenome"/>
                </label>
                <small [hidden]="registerEmployerForm.get('lastName').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="phone" placeholder="Telefone"/>
                </label>
                <small [hidden]="registerEmployerForm.get('phone').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="companyName"
                         placeholder="Nome da sua empresa"/>
                </label>
                <small [hidden]="registerEmployerForm.get('companyName').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="catchPhrase" placeholder="Slogan da empresa"/>
                </label>
                <small [hidden]="registerEmployerForm.get('catchPhrase').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="about" placeholder="Resumo sobre a empresa"/>
                </label>
                <small [hidden]="registerEmployerForm.get('about').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!registerEmployerForm.valid"
                        title="Criar conta">
                  Criar conta
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="!employer">
            <p>Tenha acesso as melhores vagas!</p>
            <form [formGroup]="registerCandidateForm" (ngSubmit)="candidateRegister(registerCandidateForm.value)"
                  novalidate>
              <div class="row">
                <h2>Cadastre-se</h2>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Usuário"/>
                </label>
                <small [hidden]="registerCandidateForm.get('username').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="email" placeholder="E-mail"/>
                </label>
                <small [hidden]="registerCandidateForm.get('email').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Senha"/>
                </label>
                <small [hidden]="registerCandidateForm.get('password').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="Nome"/>
                </label>
                <small [hidden]="registerCandidateForm.get('firstName').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Sobrenome"/>
                </label>
                <small [hidden]="registerCandidateForm.get('lastName').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="phone" placeholder="Telefone"/>
                </label>
                <small [hidden]="registerCandidateForm.get('phone').valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="academicFormation"
                         placeholder="Formação acadêmica"/>
                </label>
                <small [hidden]="registerCandidateForm.get('academicFormation')?.valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="institution" placeholder="Instituição"/>
                </label>
                <small [hidden]="registerCandidateForm.get('institution')?.valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="bio" placeholder="Bio"/>
                </label>
                <small [hidden]="registerCandidateForm.get('bio')?.valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <label>
                  <input type="text" class="form-control" formControlName="knowledge" placeholder="Conhecimentos"/>
                </label>
                <small [hidden]="registerCandidateForm.get('knowledge')?.valid" class="text-danger">
                  *
                </small>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!registerCandidateForm.valid"
                        title="Criar conta">
                  Criar conta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user">
  <div class="alert alert-success" role="alert">
    <a href="#" class="alert-link">Bem vindo!</a>
  </div>
</div>
