<nav class="navbar navbar-light bg-light">
  <a routerLink="/jobs" routerLinkActive="active">Jobs</a>
  <a routerLink="/employers" routerLinkActive="active">Employers</a>
  <a routerLink="/candidates" routerLinkActive="active">Candidates</a>
  <a routerLink="/companies" routerLinkActive="active">Companies</a>
</nav>
<div>
  <h2>Advertisement Jobs</h2>
  <div class="advertisementJob">
    <div *ngFor="let advertisementJob of advertisementJobsResponse?.results">
      <div class="card">
        <div class="card-header">
          Anúncio nº {{advertisementJob?.pk}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{advertisementJob?.title | uppercase}}</h5>
          <p class="card-text">Salário: {{advertisementJob?.payment}}</p>
          <a routerLink="detail/{{advertisementJob?.pk}}" class="btn btn-primary">Ver detalhes</a>
        </div>
      </div>
    </div>
  </div>
  <button (click)="goPrevious(advertisementJobsResponse?.previous)"><</button>
  <button (click)="goNext(advertisementJobsResponse?.next)">></button>
</div>
<!--<router-outlet></router-outlet>-->
