<h2>Employers</h2>
<div class="candidates">
  <div *ngFor="let employer of employersResponse?.results">
    <div class="card">
      <div class="card-header">
        Candidato nº {{employer?.pk}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{employer?.user.first_name | titlecase}}</h5>
        <p class="card-text">{{employer.phone }}</p>
        <a routerLink="detail/{{employer?.pk}}" class="btn btn-primary">Ver detalhes</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="employersResponse?.count > 5">
  <button (click)="goPrevious(employersResponse?.previous)"><</button>
  <button (click)="goNext(employersResponse?.next)">></button>
</div>
